<div class="full-screen-date-picker-modal-close" id="full-screen-date-picker-modal-close">
    <div class="add-date-picker-modal" id="add-date-picker-modal">  
        <form id="new-component-date-picker-form" method="POST">     
            <div class="modal-content-date-picker">            
                <h4>Create a new date picker</h4>
                <input type="text" id="input-date-picker-title" name="title-date-picker" placeholder="Title" required>
                <input type="hidden" name="datePickerName" value="date-picker">
                <div>
                    <input type="checkbox" class="input-mandatory-date-picker" name="is_mandatory">
                    <label for="is_mandatory" class="input_mandatory">This field is mandatory</label>
                </div>
                <button id="button-action-date-picker" class="btn btn-primary"><img src="{{ asset('build/images/icons/Path.png') }}">Add single choice question</button>                
            </div>  
        </form>            
    </div>    
</div>