<p class="requests-quantity" id="requests-quantity">{{ researchRequests|length }} requests submitted by your team</p>
<p class="plans-quantity-none" id="plans-quantity">No plans available</p>
<p class="all-elements-quantity-none" id="all-elements-quantity">{{ researchRequests|length }} elements listed</p>