@import '../_var.scss';

.section-title-edit-form {
    @include dimension(995px, 46px);
    display: flex;
    padding: 0;
    margin-bottom: 25px;
    gap: 20px;
    &:hover>.handle-template-component-draggable{
        display: flex;
    }
    .handle-template-component-draggable {
        @include dimension(22px, 21px);
        img {
            width: 22px;
        }
    }
    .edit-component-section-title {
        width: 868px;
        @include textStyle ($text-font, $font-size-18,
        $font-weight-600,$primary-blue-3 );
        display: flex;
        align-items: flex-start;
        font-style: normal;
        .edit-section-input {
        border-radius: 8px;
        border: 2px solid $primary-blue-2;
        }  
    }
    .close-edit {
        text-decoration: none;
        font-size: 30px;
        color: $primary-grey-1;
    }
    .section-actions {
        align-items: center;
        width: 86px;
        gap: 5px;
        img {
            cursor: pointer;
            width: 20px;
        }
        .update-button {
            @include button($primary-blue-1, $border-radius-10,0);
                @include dimension(86px, 42px);
                @include textStyle($text-font, $font-size-14, $font-weight-600, $primary-white-1);
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 12px;
        }
    }
}