<div class="open-question-creation-modal">
	<div class="create-an-open-question" id="create-an-open-question">
		<h4 class="open-question-modal-title">Create an open question</h4>
		<form method="POST">
			<div class="what-is-your-question">
				<input type="text" name="question" id="question" placeholder="What is your question" required>
			</div>
			<div class="answer-field-placeholder">
				<input type="text" name="mame" id="name" placeholder="Answer field placeholder" required>
			</div>
			<div class="checkbox-helper-text-open-question">
				<input type="checkbox" id="addAHelpertext" name="addAHelpertext" checked>
				<label for="addAHelpertext">Add a helper text</label>
			</div>
			<div class="helper-text">
				<input type="text" name="helperText" id="helperText" placeholder="helperText" required>
			</div>
			<div class="this-field-is-mandatory">
				<input type="checkbox" id="isMandatory" name="isMandatory" checked>
				<label for="isMandatory">This field is mandatory</label>
			</div>
			<div class="button-create-open-question">
				<button class="open-question-modal-button"><img src="{{ asset('build/images/icons/Path.png') }}">Add open question</button>
			</div>
		</form>
	</div>

</div>
