@import '../_var.scss';

.section_title_display {
    @include dimension(995px, 21px);
    display: flex;
    align-items: center;
    padding: 0;
    margin-bottom: 25px;
    gap: 20px;
    &:hover>.section_actions {
        display: flex;
    }
    .component_section_title p {
        @include textStyle ($text-font, $font-size-18,
        $font-weight-600,$primary-blue-3 );
        display: flex;
        align-items: flex-start;
        font-style: normal;
        width: 868px;
    }
    .section_actions {
        display: none;
        align-items: center;
        width: 65px;
        padding: 10px;
        gap: 5px;
        img {
            cursor: pointer;
            width: 20px;
        }
    }
}