@import '../_var.scss';

.section-title-display {
    @include dimension(995px, 46px);
    display: flex;
    padding: 0;
    margin-bottom: 25px;
    gap: 20px;
    &:hover>.section-actions {
        display: flex;
    }
    .section-title-move {
        @include dimension(22px, 21px);
        img {
            width: 22px;
        }
    }
    .component-section-title {
        p {
            @include textStyle ($text-font, $font-size-18,
            $font-weight-600,$primary-blue-3 );
            display: flex;
            align-items: flex-start;
            font-style: normal;
            width: 868px;
        }
    }
    .section-actions {
        display: none;
        align-items: center;
        width: 65px;
        padding: 10px;
        gap: 5px;
        img {
            cursor: pointer;
            width: 20px;
        }
    }
}