@import '../_var.scss';


.date-picker-template-creation {
    @include dimension(995px, 93px);
    display: flex;
    padding: 0;
    margin-bottom: 25px;
    gap: 20px;
    &:hover>.date-picker-template-actions {
        display: flex;
    }
    .date-picker-template-draggable {
        display: flex;
        align-items: center;
        @include dimension(22px, 100%);
        img {
            width: 22px;
        }
    }
    .date-picker-template-content {
        width: 868px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        .date-picker-template-title {
            @include textStyle($text-font, $font-size-16, $font-weight-600, $primary-blue-3);
            @include dimension(100%, 50%);
            margin-bottom: 0;
            p {
                line-height: 100%;
            }
            .date-picker-red-star {
                color: $secondary-red-1;
            }
        }
        .date-picker-input {
            display: flex;
            align-items: center;
            @include dimension(100%, 100%);
            #select-date {
                height: 60%;
                background-image: url(../../images/icons/date.png);
                @include textStyle($text-font, $font-size-14, $font-weight-400, $primary-grey-1);
                background-repeat: no-repeat;
                background-position-y: center;
                background-position-x: 12px;
                background-color: $primary-white-1;
                padding: 0px 0px 0px 32px;
            }
        } 
    }
    .date-picker-template-actions {
        display: none;
        align-items: center;
        width: 65px;
        padding: 10px;
        gap: 5px;
        img {
            cursor: pointer;
            width: 20px;
        }
    }
}
