<div class="research-template-list-card-draft-status">
    <img class="research-template-list-card-dot-icon" src="{{ asset('build/images/icons/grey-dot.png') }}">
    <p class="research-template-list-card-status-text">Draft<p>
</div>