<div class="research-template-list-card-dropped-status">
    <img class="research-template-list-card-dot-icon" src="{{ asset('build/images/icons/red-dot.png') }}">
    <p class="research-template-list-card-status-text">Dropped<p>
</div>