<div class="research-template-list-card-valide-status">
    <img class="research-template-list-card-dot-icon" src="{{ asset('build/images/icons/green-dot.png') }}">
    <p class="research-template-list-card-status-text">Valide<p>
</div>