<div id="actions-menu-container{{ loop.index }}" class="actions-menu-container">

	<div class="action-container">
		<svg width="9" height="9" viewbox="0 0 9 9" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path fill-rule="evenodd" clip-rule="evenodd" d="M7.44174 3.16505L7.90622 2.70057L6.88245 1.67679L6.41796 2.14128L7.44174 3.16505ZM6.85559 3.75121L5.83181 2.72743L2.00203 6.55721L1.7664 7.81662L3.02581 7.58099L6.85559 3.75121ZM8.51714 2.13917C8.82719 2.44922 8.82719 2.95192 8.51714 3.26197L3.52123 8.25787C3.46213 8.31698 3.38654 8.35683 3.30438 8.3722L1.32391 8.74274C1.03752 8.79632 0.786695 8.5455 0.840276 8.25911L1.21082 6.27864C1.22619 6.19648 1.26604 6.12089 1.32514 6.06179L6.32105 1.06588C6.6311 0.75583 7.13379 0.75583 7.44385 1.06588L8.51714 2.13917ZM8.33713 8.75001H4.99555C4.44549 8.75001 4.44549 7.91668 4.99555 7.91668H8.33713C8.88719 7.91668 8.88719 8.75001 8.33713 8.75001Z" fill="#676874"/>
		</svg>
		<a href="{{ path("research_template_add", { id: researchTemplate.id }) }}">
			<p>Edit details</p>
		</a>
	</div>

	<div class="action-container">
		<svg width="9" height="9" viewbox="0 0 9 9" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path fill-rule="evenodd" clip-rule="evenodd" d="M7.44174 3.16505L7.90622 2.70057L6.88245 1.67679L6.41796 2.14128L7.44174 3.16505ZM6.85559 3.75121L5.83181 2.72743L2.00203 6.55721L1.7664 7.81662L3.02581 7.58099L6.85559 3.75121ZM8.51714 2.13917C8.82719 2.44922 8.82719 2.95192 8.51714 3.26197L3.52123 8.25787C3.46213 8.31698 3.38654 8.35683 3.30438 8.3722L1.32391 8.74274C1.03752 8.79632 0.786695 8.5455 0.840276 8.25911L1.21082 6.27864C1.22619 6.19648 1.26604 6.12089 1.32514 6.06179L6.32105 1.06588C6.6311 0.75583 7.13379 0.75583 7.44385 1.06588L8.51714 2.13917ZM8.33713 8.75001H4.99555C4.44549 8.75001 4.44549 7.91668 4.99555 7.91668H8.33713C8.88719 7.91668 8.88719 8.75001 8.33713 8.75001Z" fill="#676874"/>
		</svg>
		<a href="#">
			<p class="disable">Edit template</p>
		</a>
	</div>

	<div class="action-container">
		<svg width="10" height="8" viewbox="0 0 10 8" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path fill-rule="evenodd" clip-rule="evenodd" d="M0.878836 3.76561C1.64727 1.8784 3.23268 0.666656 4.99967 0.666656C6.76666 0.666656 8.35208 1.8784 9.12051 3.76561C9.18162 3.91568 9.18162 4.0843 9.12051 4.23437C8.35208 6.12158 6.76666 7.33332 4.99967 7.33332C3.23268 7.33332 1.64727 6.12158 0.878836 4.23437C0.817732 4.0843 0.817732 3.91568 0.878836 3.76561ZM4.99967 6.56235C6.42428 6.56235 7.7304 5.5778 8.39547 3.99999C7.7304 2.42218 6.42428 1.43763 4.99967 1.43763C3.57507 1.43763 2.26895 2.42218 1.60388 3.99999C2.26895 5.5778 3.57507 6.56235 4.99967 6.56235ZM4.99967 5.51926C4.17519 5.51926 3.5068 4.83906 3.5068 3.99999C3.5068 3.16092 4.17519 2.48072 4.99967 2.48072C5.82416 2.48072 6.49254 3.16092 6.49254 3.99999C6.49254 4.83906 5.82416 5.51926 4.99967 5.51926ZM4.99967 4.74829C5.40577 4.74829 5.73497 4.41326 5.73497 3.99999C5.73497 3.58671 5.40577 3.25169 4.99967 3.25169C4.59358 3.25169 4.26438 3.58671 4.26438 3.99999C4.26438 4.41326 4.59358 4.74829 4.99967 4.74829Z" fill="#676874"/>
		</svg>
		<a href="#">
			<p class="disable">View template</p>
		</a>
	</div>

	<div class="action-container">
		<svg width="10" height="10" viewbox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path fill-rule="evenodd" clip-rule="evenodd" d="M7.91648 6.25001V2.50001C7.91648 2.03977 7.54339 1.66668 7.08315 1.66668H2.91648C2.45625 1.66668 2.08315 2.03977 2.08315 2.50001V6.25001H3.76294C3.99562 6.25001 4.18322 6.44058 4.17955 6.67324L4.17309 7.08362L5.83734 7.08472L5.84213 6.66196C5.84471 6.4337 6.03049 6.25001 6.25877 6.25001H7.91648ZM8.74982 6.25001C9.01275 6.25001 9.20996 6.49056 9.15839 6.74839L8.9427 7.82687C8.78689 8.60591 8.10286 9.16668 7.30839 9.16668H2.69124C1.89677 9.16668 1.21274 8.60591 1.05694 7.82687L0.841241 6.74839C0.789675 6.49056 0.98688 6.25001 1.24982 6.25001V2.50001C1.24982 1.57954 1.99601 0.833344 2.91648 0.833344H7.08315C8.00362 0.833344 8.74982 1.57954 8.74982 2.50001V6.25001ZM1.75807 7.08334L1.87409 7.66344C1.95199 8.05296 2.294 8.33334 2.69124 8.33334H7.30839C7.70563 8.33334 8.04764 8.05296 8.12555 7.66344L8.24156 7.08334H6.67074L6.66596 7.50638C6.66337 7.73475 6.47743 7.91848 6.24904 7.91833L3.74954 7.91668C3.51696 7.91652 3.32954 7.726 3.3332 7.49345L3.33966 7.08334H1.75807Z" fill="#676874"/>
		</svg>
		<a href="#">
			<p class="disable">View all submissions</p>
		</a>
	</div>

	<div class="action-container">
		<svg width="10" height="10" viewbox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path fill-rule="evenodd" clip-rule="evenodd" d="M6.66699 0.416656H3.33366C1.72283 0.416656 0.416992 1.72249 0.416992 3.33332V6.66666C0.416992 8.27749 1.72283 9.58332 3.33366 9.58332H6.66699C8.27782 9.58332 9.58366 8.27749 9.58366 6.66666V3.33332C9.58366 1.72249 8.27782 0.416656 6.66699 0.416656ZM1.25033 3.33332C1.25033 2.18273 2.18307 1.24999 3.33366 1.24999H6.66699C7.81758 1.24999 8.75032 2.18273 8.75032 3.33332V6.66666C8.75032 7.81725 7.81758 8.74999 6.66699 8.74999H3.33366C2.18307 8.74999 1.25033 7.81725 1.25033 6.66666V3.33332Z" fill="#DA1414"/>
			<path fill-rule="evenodd" clip-rule="evenodd" d="M4.33958 4.9285L3.4557 4.04462C3.29298 3.8819 3.29298 3.61808 3.4557 3.45536C3.61842 3.29264 3.88223 3.29264 4.04495 3.45536L4.92884 4.33924L5.81272 3.45536C5.97544 3.29264 6.23926 3.29264 6.40198 3.45536C6.56469 3.61808 6.56469 3.8819 6.40198 4.04462L5.51809 4.9285L6.40198 5.81238C6.56469 5.9751 6.56469 6.23892 6.40198 6.40164C6.23926 6.56436 5.97544 6.56436 5.81272 6.40164L4.92884 5.51776L4.04495 6.40164C3.88223 6.56436 3.61842 6.56436 3.4557 6.40164C3.29298 6.23892 3.29298 5.9751 3.4557 5.81238L4.33958 4.9285Z" fill="#DA1414"/>
		</svg>
		<a href="#">
			<p class="delete-action-p disable">Delete template</p>
		</a>
	</div>

</div>
<div id="full-screen-action-menu-container-modal-close{{ loop.index }}" class="full-screen-action-menu-container-modal-close"></div>
