<div class="modal_delete_template" id="modal_delete_template">
    <div class="setting">
        <div class="select">
            <div class="frame_1098">
                <div class="frame_1097">
                        <img src="{{ asset('build/images/icons/Error_perspective_matte.png') }}"/>
                        <h4 class="first_text_delete_template">You’re about to remove this research template.</h4>
                </div>
                <h4 class="second_text_delete_template">Are you sure you would like to remove this research request template, it won’t be available anymore for your collaborators.</h4>
            </div>
        </div>
        <div class="frame_1095">
            <div class="frame_1996">
                <button class="no_keep_the_template" id="no_keep_the_template">No, keep the template</button>
                <a href="{{ path("research_template_app_archive", { id: researchTemplate.id }) }}">
                <button type="button" class="yes_remove_my_template" id="yes_remove_my_template">Yes, remove my template</button>
                </a>
            </div>    
        </div>
    </div>
</div>


