<div class="modal-section-container">	
	<div class="modal-section-content">
		<form method="post">
			
			<div class="close-modal-section modal-section-trigger" id="close-modal-section">
				<span class="external-link-modal-cross"></span>
				<span class="external-link-modal-cross"></span>
			</div>
			
			<header id="section-draggable-handle">
				<h1>Create a new section</h1>
			</header>

			<div class="input-modal-section modal-section-trigger">
				<input type="hidden" name="sectionName" value="section">
				<input type="text" name="title" class="modal-section-trigger" placeholder="Section title" id="section_title" required>
			</div>	
			
			<button type="submit" id="button-action-component-section" class="btn btn-primary modal-section-trigger">+ Add section</button>
		</form>
	</div>
</div>
