@import '../_var.scss';

.section-form-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    h1 {
        @include dimension(357px, 31px);
        font-family: $title-font;
        font-weight: $font-weight-500;
        font-size: 24px;
        line-height: 22px;
        color: $primary-blue-3;
        opacity: 0.3; 
    }
}
.assign-workshop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    @include dimension(760px, 188px);
    @include button($primary-white-1, $border-radius-10,
    1.5px dashed $primary-blue-1);
    @include textStyle($text-font, $font-size-18,
    $font-weight-600, $primary-blue-1);
    line-height: 23px;
    img {
        width: 60px;
    }
}

.research-plan-workshop-selected-content {
    position: relative;
    display: none;
    align-items: flex-start;
    width: 760px;
    min-height: 138px;
    padding: 35px;
    gap: 15px;
    border: 1.5px dashed $primary-blue-1;
    border-radius: $border-radius-10;
    .research-plan-workshop-select-edit-icon {
        @include dimension(20px, 20px);
        @include absolutePosition(36px, 705px);
        cursor: pointer;
    }
    .research-plan-workshop-selected-image {
        @include dimension(54px, 54px);
    }
    .research-plan-workshop-selected-text {
        width: 585.99px;
        min-height: 68px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0;
        gap: 5px;
        .research-plan-workshop-selected-title {
            @include textStyle($text-font, $font-size-18, $font-weight-400, $primary-dark-1);
            margin-bottom: 0;
            line-height: 23px;
            .research-plan-workshop-selected-name {
                font-weight: $font-weight-600;
            }
        }
        .research-plan-workshop-selected-description {
            @include textStyle($text-font, $font-size-16, $font-weight-400, $primary-grey-4);
            letter-spacing: 0.11667px;
            line-height: 20px;
            margin-bottom: 0;
        }
    }
}

.create-recommandation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    text-decoration: none;
    @include dimension(760px, 188px);
    @include button($primary-white-1, $border-radius-10,
    1.5px dashed $primary-blue-1);
    @include textStyle($text-font, $font-size-18,
    $font-weight-600, $primary-blue-1);
    line-height: 23px;
    img {
        width: 60px;
    }
}
.add-objectives {
    @include button($primary-white-1, $border-radius-10,
    1.5px dashed $primary-blue-1);
    @include dimension(760px, 72px);
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    p {
        margin-left: 35px;
        margin-top: 26px;
        @include textStyle($text-font, $font-size-16,
        $font-weight-600, $primary-blue-3);
        line-height: 20px;
        display: flex;
        align-items: center;
    }
    button {
        @include button($primary-white-1, $border-radius-10,
        1.5px dashed $primary-blue-1);
        @include dimension(171px, 42px);
        margin-right: 10px;
        margin-top: 15px;
        background: #6580FF;
        border-radius: 10px;
        color: $primary-white-1;
        font-family: 'Source Sans Pro';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 18px;
        img {
            padding-bottom: 5px;
        }
    }
}

.research-plan-workshop-selected-display-flex {
    display: flex;
}

.assign-workshop-display-none {
    display: none;
}