<div class="section-form-title">
    <input type="text" name="title-section-research-plan" placeholder="Add section title here" id="title-section-research-plan" class="title-section-research-plan">
    <a href="" id="button-basket"><img src="{{ asset('build/images/icons/trash-black.png') }}" alt="basket"></a>
</div>

<a href="#" class="assign-workshop">
    <img src="{{ asset('build/images/icons/workshop.png') }}" alt="basket">
    <p class="assign-workshop-p">Assign a workshop for this phase</p>
</a>

<button type="button" class="create-recommandation" id="text-editor-button">
    <img id="bubble-of-recommandation" src="{{ asset('build/images/icons/recommandation.png') }}" alt="bubble of recommandation">
    <p class="recommandation-note">Create a recommandation note</p>
</button>
{% include "research_plan/_create_recommandation.html.twig" %}

<div class="add-objectives">
    <p>Would you like to add some objectives for this phase ? </p>
    <button type="button" class="button-add-objectives-disabled" id="button-add-objectives" disabled="disabled"><img src="{{ asset('build/images/icons/save-icon.png') }}" alt="icon validate"> Add objectives</button>
</div>