<div class="section-form-title">
    <h1>Add section title here</h1>
    <a href=""><img src="{{ asset('build/images/icons/basket.png') }}" alt="basket"></a>
</div>

<div class="assign-workshop">
    <img src="{{ asset('build/images/icons/workshop.png') }}" alt="basket">
    <a href="#">Assign a workshop for this phase</a>
</div>

<div class="create-recommandation">
    <img src="{{ asset('build/images/icons/recommandation.png') }}" alt="bubble of recommendation">
    <a href="#">Create a recommandation note</a>
</div>

<div class="add-objectives">
    <p>Would you like to add some objectives for this phase ? </p>
    <button type="button"><img src="{{ asset('build/images/icons/save-icon.png') }}" alt="icon validate"> Add objectives</button>
</div>