<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>New program</title>
</head>
</body>
    <main>
        <h1>Hello there !</h1>
        <p>A new research plan has been sent to your colaborator !</p>
        <p>Best Regards</p>
    </main>
</body>