{% extends 'base.html.twig' %}

{% block title %}Home
{% endblock %}

{% block body %}
	<div class="main-container">

		<aside class="sidebar">
			<img src="{{ asset('build/images/sidebar.png') }}">
		</aside>

		<div class="secondary-container">

			<section class="header-container">
				<p class="location-text">RESEARCH CENTER/ALL TEMPLATES</p>

				<h1 class="new-template-title">Create a new template</h1>

			</section>

			<div class="tird-container">
				<div class="fourth-container">
					<section class="frame-1123">
						<div class="status-container-1">
							<h2>Request template name</h2>
							<p>All changes saved</p>
						</div>
						<div class="status-container-2">
							<p>Status of this request*</p>
							<div class="status-list-select">
								<p>Active</p>
							</div>
						</div>
					</section>

					<section class="components-available">
						<h2>Elements available for your request</h2>
						<p>Select here the elements your team could use.</p>
						<div class="components">
						</div>
					</section>

				</div>
				<section class="form-builder">
					<h2>No elements have been added to this request template.</h2>
					<p>Use the elements ont he left side to add some elements to this form.</p>
				</section>
			</div>
		</div>
	</div>


{% endblock %}
