{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <div class="mt-5">
        <h1 class="text-dark">
            Let's start coding&nbsp;&#129304;
        </h1>
    </div>
    <p class="text-center">Hello</p>
{% endblock %}
