@import '_var.scss';

.modal-section-container {
    display: none;
    padding: 35px;
    width: 390px;
    background: $primary-white-1;
    box-shadow: 0px 0px 6px $primary-dark-1;
    border-radius: 10px;
    position: fixed; 
    left: 700px;
    bottom: 400px;
    .modal-section-content {
        background: $primary-white-1;
        .close-modal-section {
            position: absolute;
            top: 10px;
            right: 10px;
            color: grey;
            text-decoration: none;
        }
        h1 {
            font-family: 'Source Sans Pro';
            font-style: normal;
            font-weight: $font-weight-600;
            font-size: $font-size-18;
            margin-bottom: 20px;
        }
        .section_title {
        width: 100%;
        height: 42px;
        border: 1px solid $primary-blue-2;
        border-radius: 8px;
        margin-bottom: 20px;
        }

        #button-action-component-section {
            width: 100%;
            background: $primary-blue-1;
            border-radius: 10px;
        }
    }  
}

.modal-section-container.active {
    display: block;
}

.section_title_display {
    @include dimension(995px, 93px);
    display: flex;
    align-items: center;
    padding: 0;
    margin-bottom: 25px;
    gap: 20px;
    &:hover>.section_actions {
        display: flex;
    }
    .section_title_move {
        @include dimension(22px, 21px);
        img {
            width: 22px;
        }
    }
    .component_section_title {
        display: flex;
        align-items: flex-start;
        font-family: 'Spartan';
        font-style: normal;
        width: 868px;
        font-weight: $font-weight-600;
        font-size: $font-size-18;
        color: $primary-blue-3;
    }
    .section_actions {
        align-items: center;
        width: 65px;
        padding: 10px;
        gap: 5px;
        img {
            cursor: pointer;
            width: 20px;
        }
    }
}


