@import url('https://fonts.googleapis.com/css?family=League+Spartan:400,500|Source+Sans+Pro:400,500,600,800');

// var primary colors
$primary-blue-1: #6580FF;
$primary-blue-2: #ECEFFF;
$primary-blue-3: #1D2A78;
$primary-blue-4: #F4F7FD;
$primary-blue-5: #12033B;
$primary-grey-1: #676874;
$primary-grey-2: #F1F1F5;
$primary-grey-3: #44444F;
$primary-grey-4: #ADADB5;
$primary-grey-5: #E1E1E1;
$primary-dark-1: #1B1B1B;
$primary-white-1: #FFFFFF;
$primary-white-2: #FAFAFB;

//var secondary colors
$secondary-orange-1: #FFA94F;
$secondary-red-1: #EA6061;
$secondary-green-1: #71D68F;

// var font-family
$title-font: 'League Spartan', sans-serif;
$text-font: 'Source Sans Pro', sans-serif;

// var font-size
$font-size-12: 12px;
$font-size-14: 14px;
$font-size-16: 16px;
$font-size-18: 18px;

//var font-weight
$font-weight-400: 400;
$font-weight-500: 500;
$font-weight-600: 600;

//var border-radius
$border-radius-10: 10px;
$border-radius-20: 20px;

// @mixin
@mixin button ($bg, $br, $b) {
    background: $bg;
    border-radius: $br;
    border: $b;   
}

@mixin textStyle($ff, $fs, $fw, $c) {
    font-family: $ff;
    font-size: $fs;
    font-weight: $fw;
    color: $c;
}

@mixin dimension($w, $h) {
    width: $w;
    height: $h;
}

@mixin absolutePosition($top, $left) {
    position : absolute;
    top: $top;
    left: $left;
}

@mixin input($bg, $br, $b) {
    background: $bg;
    border-radius: $br;
    border: $b;   
}

body {
    overflow-x: hidden;
    display: flex;
    align-items: flex-start;
    background-color: $primary-white-2;
    gap: 40px;
    .usedge-aside-sidebar {
        @include dimension(270px, 1080px);
    }
}


/* Modification of the scrollbar properties */
/* Works on Firefox */
* {
    scrollbar-width: none;
  }
  
  /* Works on Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 5px;
    margin-left: 5px;
  }
  
  *::-webkit-scrollbar-track {
    background: none;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: $primary-grey-2;
    border-radius: 20px;
    border: none;
  }
