@import '_var.scss';

.main-container {
    display: flex;
    flex-direction: row;
    gap: 40px;
    background-color: #FAFAFB;
}

.sidebar {
    position: relative;
}

.secondary-container {
    display: flex;
    flex-direction: column;
}

.header-container {
    background-color: #FAFAFB;
}

.location-text {
    margin-top: 38px;
    margin-bottom: 5px;
    font-family: $text-font;
    font-weight: $font-weight-600;
    font-size: $font-size-12;
    line-height: 15px;
    letter-spacing: 0.116667px;
    color: $primary-grey-4;
}

.new-template-title {
    margin-bottom: 20px;
    font-family: $title-font;
    font-style: normal;
    font-weight: $font-weight-600;
    font-size: $font-size-18;
    line-height: 20px;
    letter-spacing: -0.8px;
    color: $primary-blue-5;
}

.tird-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    background-color: #FAFAFB;
    height: 100%;
}

.fourth-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.frame-1123 {
    display: flex;
    flex-direction: column;
    padding: 25px 35px;
    background: $primary-white-1;
    border-radius: $border-radius-10;
}

.status-container-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;

    h2 {
        font-family: $text-font;
        font-style: normal;
        font-weight: $font-weight-600;
        font-size: $font-size-18;
        line-height: 23px;
        letter-spacing: 0.116667px;
        color: $primary-blue-3;
    }

    div {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 7px;
    }

    img {
        height: 4px;
    }

    p {
        margin: auto;
        font-family: $text-font;
        font-style: normal;
        font-weight: $font-weight-400;
        font-size: $font-size-12;
        line-height: 15px;
        letter-spacing: 0.116667px;
        color: $primary-dark-1;
    }
}

.status-container-2 p {
    font-family: $text-font;
    font-style: normal;
    font-weight: $font-weight-600;
    font-size: $font-size-14;
    line-height: 18px;
    letter-spacing: 0.116667px;
    color: $primary-dark-1;

    span {
        color: #fe7677;
    }
}

.status-list-select {
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 12px;
    background-color: $primary-white-1;
    background-size: 10px;
    padding-left: 25px;
    width: 355px;
    height: 42px;
    border: 1px solid $primary-blue-2;
    border-radius: 8px;
    font-family: $text-font;
    font-style: normal;
    font-weight: $font-weight-400;
    font-size: $font-size-14;
    line-height: 18px;
    letter-spacing: 0.116667px;
    color: $primary-grey-1;
}

.bg-green-dot {
    background-image: url(../images/icons/green-dot.png);
}

.bg-grey-dot {
    background-image: url(../images/icons/grey-dot.png);
}

.bg-red-dot {
    background-image: url(../images/icons/red-dot.png);
}

.components-available {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 35px;
    background: $primary-white-1;
    border-radius: $border-radius-10;

    h2 {
        font-family: $text-font;
        font-style: normal;
        font-weight: $font-weight-600;
        font-size: $font-size-18;
        line-height: 23px;
        letter-spacing: 0.116667px;
        color: $primary-blue-3;
    }
    
    p {
        margin-bottom: 20px;
        font-family: $text-font;
        font-style: normal;
        font-weight: $font-weight-400;
        font-size: $font-size-16;
        line-height: 20px;
        letter-spacing: 0.116667px;
        color: $primary-grey-1;
    }
    .buttonAction:hover {
        cursor: pointer;
    }
    #add-separator-button {
        border: 0;
        background-color: transparent;
    }
}

.components {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 15px;
}

.component {
    @include dimension(352px, 64px);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 1px solid $primary-blue-2;
    border-radius: $border-radius-10;
    margin-bottom: 12px;
    &:hover {
        border: 1px solid #6580FF;
        transition: 500ms ease-in-out;
    }
}

.component-picture-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    margin: 10px;
    background: #F0F2FF;
    border-radius: $border-radius-10;
}

.component-picture-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;

}

.component-title {
    flex-grow: 1;

    h3 {
        margin-bottom: 5px;
        font-family: $text-font;
        font-style: normal;
        font-weight: $font-weight-400;
        font-size: $font-size-16;
        line-height: 20px;
        letter-spacing: 0.116667px;
        color: $primary-blue-3;
    }
    
    p {
        margin-bottom: 5px;
        font-family: $text-font;
        font-style: normal;
        font-weight: $font-weight-400;
        font-size: $font-size-12;
        line-height: 15px;
        letter-spacing: 0.116667px;
        color: $primary-grey-4;
    }
}

.form-builder {
    margin-right: 38px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 50px 35px;
    width: 1122px;
    height: 950px;
    background: $primary-white-1;
    border-radius: $border-radius-10;
    overflow: auto;

    h2 {
        font-family: $title-font;
        font-style: normal;
        font-weight: $font-weight-600;
        font-size: $font-size-18;
        line-height: 20px;
        letter-spacing: -0.8px;
        color: $primary-blue-3;
    }
    
    p {
        font-family: $text-font;
        font-style: normal;
        font-weight: $font-weight-400;
        font-size: $font-size-16;
        line-height: 20px;
        letter-spacing: 0.116667px;
        color: $primary-grey-1;
    }
    
}

.need-help-container {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px;
    gap: 5px;
    width: 112px;
    height: 42px;
    background: #F1F1F5;
    border-radius: $border-radius-10;

    img {
        width: 12.74px;
        height: 12.36px;
    }
    
    p {
        margin: auto;
        font-family: $text-font;
        font-style: normal;
        font-weight: $font-weight-600;
        font-size: $font-size-14;
        line-height: 18px;
        letter-spacing: 0.116667px;
        color: $primary-grey-1;
    }
}

//End style for /research-template/add