@import '_var.scss';

.main-container {
    display: flex;
    flex-direction: row;
    gap: 40px;
    background-color: #FAFAFB;
    .secondary-container {
        display: flex;
        flex-direction: column;
        .header-container {
            background-color: #FAFAFB;
            .location-text {
                @include textStyle($text-font, $font-size-12, $font-weight-600, $primary-grey-4);
                margin-top: 38px;
                margin-bottom: 5px;
                line-height: 15px;
                letter-spacing: 0.116667px;
            }
            .new-template-title {
                @include textStyle($title-font, $font-size-18, $font-weight-500, $primary-blue-5);
                margin-bottom: 20px;
                font-style: normal;
                line-height: 20px;
                letter-spacing: -0.8px;
            }
        }
        .tird-container {
            display: flex;
            flex-direction: row;
            gap: 20px;
            background-color: #FAFAFB;
            height: 100%;
            .fourth-container {
                display: flex;
                flex-direction: column;
                gap: 20px;
                .frame-1123 {
                    display: flex;
                    flex-direction: column;
                    padding: 25px 35px;
                    background: $primary-white-1;
                    border-radius: $border-radius-10;
                    .status-container-1 {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        align-items: baseline;
                        h2 {
                            @include textStyle($text-font, $font-size-18, $font-weight-600, $primary-blue-3);
                            font-style: normal;
                            line-height: 23px;
                            letter-spacing: 0.116667px;
                        }
                        div {
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            gap: 7px;
                        }
                        img {
                            height: 4px;
                        }
                        p {
                            @include textStyle($text-font, $font-size-12, $font-weight-400, $primary-dark-1);
                            margin: auto;
                            font-style: normal;
                            line-height: 15px;
                            letter-spacing: 0.116667px;
                        }
                    }
                    .status-container-2{
                        p {
                            @include textStyle($text-font, $font-size-14, $font-weight-600, $primary-dark-1);
                            font-style: normal;
                            line-height: 18px;
                            letter-spacing: 0.116667px;
                            span {
                                color: #fe7677;
                            }
                        }
                        .status-list-select {
                            @include dimension(355px, 42px);
                            @include textStyle($text-font, $font-size-14, $font-weight-400, $primary-grey-1);
                            background-repeat: no-repeat;
                            background-position-y: center;
                            background-position-x: 12px;
                            background-color: $primary-white-1;
                            background-size: 10px;
                            padding-left: 25px;
                            border: 1px solid $primary-blue-2;
                            border-radius: 8px;
                            font-style: normal;
                            line-height: 18px;
                            letter-spacing: 0.116667px; 
                        }
                        .bg-green-dot {
                            background-image: url(../images/icons/green-dot.png);
                        }
                        .bg-grey-dot {
                            background-image: url(../images/icons/grey-dot.png);
                        }
                        .bg-red-dot {
                            background-image: url(../images/icons/red-dot.png);
                        }
                    }   
                }
                .components-available {
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    padding: 35px;
                    background: $primary-white-1;
                    border-radius: $border-radius-10;
                    height: 773px;
                    h2 {
                        @include textStyle($text-font, $font-size-18, $font-weight-600, $primary-blue-3);
                        font-style: normal;
                        line-height: 23px;
                        letter-spacing: 0.116667px;
                    }
                    &:nth-child(2) {
                        @include textStyle($text-font, $font-size-16, $font-weight-400, $primary-grey-1);
                        margin-bottom: 20px;
                        font-style: normal;
                        line-height: 20px;
                        letter-spacing: 0.116667px;
                    }
                    .components-list {
                        display: flex;
                        flex-direction: column;
                        width: 100%;
                        gap: 12px;
                        overflow-y: scroll;
                        .component {
                            @include dimension(345px, 64px);
                            display: flex;
                            flex-direction: row;
                            justify-content: space-between;
                            align-items: center;
                            border: 1px solid $primary-blue-2;
                            border-radius: $border-radius-10;
                            &:hover {
                                border: 1px solid #6580FF;
                                transition: 500ms ease-in-out;
                            }
                            .component-picture-1 {
                                @include dimension(50px, 50px);
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                align-items: center;
                                margin: 10px;
                                background: #F0F2FF;
                                border-radius: $border-radius-10;
                            }
                            .component-title {
                                flex-grow: 1;
                                h3 {
                                    @include textStyle($text-font, $font-size-16, $font-weight-400, $primary-blue-3);
                                    margin-bottom: 5px;
                                    font-style: normal;
                                    line-height: 20px;
                                    letter-spacing: 0.116667px;
                                }
                                &:nth-child(2) {
                                    @include textStyle($text-font, $font-size-12, $font-weight-400, $primary-grey-4);
                                    margin-bottom: 5px;
                                    font-style: normal;
                                    line-height: 15px;
                                    letter-spacing: 0.116667px;
                                }
                            }
                            .component-picture-2 {
                                @include dimension(50px, 50px);
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                align-items: center;
                                .buttonAction:hover {
                                    cursor: pointer;
                                }
                                #add-separator-button {
                                    border: 0;
                                    background-color: transparent;
                                }
                            }
                        }
                    }
                }
            }
            .form-builder {
                @include dimension(1122px, 950px);
                margin-right: 38px;
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 50px 50px 35px;
                background: $primary-white-1;
                border-radius: $border-radius-10;
                overflow: auto;
                h2 {
                    @include textStyle($title-font, $font-size-18, $font-weight-500, $primary-blue-3);
                    font-style: normal;
                    line-height: 20px;
                    letter-spacing: -0.8px;
                }
                &:nth-child(2) {
                    @include textStyle($text-font, $font-size-16, $font-weight-400, $primary-grey-1);
                    font-style: normal;
                    line-height: 20px;
                    letter-spacing: 0.116667px;
                }
                .need-help-container {
                    @include dimension(112px, 42px);
                    cursor: pointer;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    padding: 12px;
                    gap: 5px;
                    background: $primary-grey-2;
                    border-radius: $border-radius-10;
                    img {
                        @include dimension(12.74px, 12.36px);
                    }
                    p {
                        @include textStyle($text-font, $font-size-14, $font-weight-600, $primary-grey-1);
                        margin: auto;
                        font-style: normal;
                        line-height: 18px;
                        letter-spacing: 0.116667px;
                    }
                }
                .handle-template-component-draggable {
                    display: flex;
                    align-items: center;
                    @include dimension(22px, 100%);
                    img {
                        width: 22px;
                    }
                }
                .remove-btn {
                    background-color: transparent;
                    border: 0;
                }
            }
        }
    }
}

//End style for /research-template/add