@import "~bootstrap/scss/bootstrap";
@import '_homePage.scss';
@import url('https://fonts.googleapis.com/css2?family=League+Spartan&family=Source+Sans+Pro:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@600&family=Source+Sans+Pro:wght@400;600&display=swap');
@import "add_research_template.scss";

// var primary colors
$primary-blue-1: #6580FF;
$primary-blue-2: #ECEFFF;
$primary-blue-3: #1D2A78;
$primary-blue-4: #F4F7FD;
$primary-blue-5: #12033B;
$primary-grey-1: #676874;
$primary-grey-4: #ADADB5;
$primary-dark-1: #1B1B1B;
$primary-white-1: #FFFFFF;

//var secondary colors
$secondary-orange-1: #FFA94F;
$secondary-red-1: #EA6061;
$secondary-green-1: #71D68F;

// var font-family
$title-font: 'League Spartan', sans-serif;
$text-font: 'Source Sans Pro', sans-serif;

// var font-size
$font-size-12: 12px;
$font-size-14: 14px;
$font-size-16: 16px;
$font-size-18: 18px;

//var font-weight
$font-weight-400: 400;
$font-weight-600: 600;

//var border-radius
$border-radius-10: 10px;
$border-radius-20: 20px;
