@import "~bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css2?family=League+Spartan&family=Source+Sans+Pro:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@600&family=Source+Sans+Pro:wght@400;600&display=swap");

/* Create a new research template */

.pageAllResearch {
    display: flex;
    gap: 40px;

   
    
}
.sidebar {
    width: 270px;
    height: 1080px;
}

.pageContent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 35px 0px;
    gap: 20px;


    width: 81vw ;


}
.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 10px;

    width: 1572px;
    height: 40px;
}

.component {
    display: flex;
    align-items: center;
    width: 30px;
    height: 30px;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 5px;

    width: 1532px;
    height: 40px;
}

.title1 {
    width: 188px;
    height: 15px;

    /* Info/Medium/Default */

    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */

    display: flex;
    align-items: center;
    letter-spacing: 0.116667px;

    /* Primary/Grey4 */

    color: #adadb5;

    margin-bottom: 0px;
}

.tilte2 {
    width: 211px;
    height: 20px;

    /* Title/H5/Default */

    font-family: "Spartan";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;
    display: flex;
    align-items: center;
    letter-spacing: -0.8px;

    /* Primary/Blue5 */

    color: #12033b;
}
.sessionList {
    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    gap: 25px;

    width: 100%;
    

    /* Primary/White1 */

    background: #ffffff;
    /* Primary/Blue2 */

    border: 2px solid #ecefff;
    border-radius: 10px;
}

.text1 {
    width: 532px;
    height: 20px;
    
    /* Title/H5/Default */

    font-family: "Spartan";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    letter-spacing: -0.8px;
    
    /* Primary/Blue3 */

    color: #1d2a78;
}

.text2 {
    width: 532px;
    height: 20px;

    /* Paragraph/Regular/Default */

    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.116667px;
   
    /* Primary/Grey1 */

    color: #676874;
}

.buttonHelp {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px;
    gap: 5px;

    width: 179px;
    height: 42px;

    /* Primary/Blue1 */

    background: #6580ff;
    border-radius: 10px;

    color: white;
    font-size: 12px;
}
