@import '../_var.scss';

.modal-interview-planning-request {
    position: absolute;
    top: 0px;
    right: -1000px;
    @include dimension(900px, 1080px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: $primary-white-1;
    border-radius: 20px 0 0 20px;
    padding: 50px;
    gap: 20px;
    transition: 0.3s;

    .modal-interview-planning-request-header {
        @include dimension(800px, 44px);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0;

        .interview-planning-header-title {
            @include dimension(546px, 44px);
            display: flex;
            flex-direction: column;
            justify-content: center;

            .interview-planning-header-first-title-container {

                display: flex;
                align-items: center;
                gap: 10px;

                .interview-planning-header-first-title {
                    @include textStyle($title-font, $font-size-18, $font-weight-500, $primary-blue-3);
                    line-height: 17px;
                    margin-bottom: 0;
                }
            }

            .interview-planning-header-subtitle {
                @include textStyle($text-font, $font-size-16, $font-weight-400, $primary-dark-1);
                margin-bottom: 0;
                line-height: 20px;

                span {
                    color: $primary-blue-1;
                }
            }
        }

        .interview-planning-header-actions {
            @include dimension(75px, 44px);
            display: flex;
            justify-content: space-between;
            align-items: center;

            .interview-planning-header-options {
                @include dimension(30px, 30px);
                cursor: pointer;
            }

            .interview-planning-header-close {
                @include dimension(30px, 30px);
                cursor: pointer;
            }
        }
    }

    .separator {
        width: 800px;
        border-bottom: 1px solid $primary-grey-5;
    }
}

.modal-interview-planning-request-display {
    right: -50px;
}