@import '../var.scss';

.research-plan-available-workshops-modal {
    position: absolute;
    top: 0px;
    right: 0px;
    @include dimension(900px, 1080px);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $primary-white-1;
    border-radius: 10px 0 0 10px;
    padding: 50px;
    gap: 25px;
    transition: 0.3s;
    z-index: 3;
    .research-plan-available-workshops-modal-close {
        @include dimension(30px, 30px);
        @include absolutePosition(20px, 850px);
        cursor: pointer;
    }
    .research-plan-available-workshops-header {
        @include dimension(800px, 84px);
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        .research-plan-available-workshops-header-title {
            @include textStyle($title-font, 28px, $font-weight-500, $primary-blue-3);
            margin-bottom: 0;
        }
        .research-plan-available-workshops-header-subtitle {
            @include textStyle($text-font, $font-size-18, $font-weight-400, $primary-grey-1);
            margin-bottom: 0;
        }
    }
}

.research-plan-available-workshops-display {
    right: 0px;
}
