@import '../_var.scss';

.full-screen-external-link-modal-close {
    display: none; 
    @include dimension(100%, 100%);
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    overflow: auto;
    .add-external-link-modal {
        display: flex;
        flex-direction: column;
        justify-content: center;
        @include absolutePosition(57%, 39%);
        width: 400px;
        box-sizing: border-box;
        background-color: $primary-white-1;
        border-radius: $border-radius-10;
        .modal-content-external-link {
            position: relative;
            background: white;
            padding: 1.5em 2em;
            background: #FFFFFF;
            box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.25);
            border-radius: 10px;
            .external-link-modal-close {
                @include absolutePosition(13px, 363px);
                @include dimension(25px, 25px);
                &:hover {
                    cursor: pointer;
                }
                .external-link-modal-cross {
                    @include absolutePosition(45.83%, 17%);
                    @include dimension(18px, 1.5px);
                    background-color: $primary-blue-3;
                    border-radius: 2px;
                    &:first-child {
                        transform: rotateZ(45deg);
                    }
                    &:nth-child(2) {
                        transform: rotateZ(-45deg);
                    }
                }
            }
            #external-link-draggable-handle:hover {
                cursor: grabbing;
            }
            h4 {
                @include textStyle($text-font,$font-size-18,$font-weight-600,#000000);
                margin-bottom: 20px;
            }
            p {
                @include textStyle($text-font,$font-size-16,$font-weight-600,#000000);
                font-family: 'Source Sans Pro', sans-serif;
                margin-bottom: 20px;
            }
            #input-external-link-title{
                @include dimension(100%, 42px);
                @include input($primary-white-1, $border-radius-10, 1px solid #ECEFFF);
                border-radius: 8px;
                margin-bottom: 20px;
            }
            .input_mandatory {
                font-family: "Source Sans Pro", sans-serif;
                font-size: 14px;
                font-weight: 600;
                color: #1D2A78;
            }
            #button-action-external-link {
                @include button($primary-blue-1, $border-radius-10,0);
                @include dimension(100%, 42px);
                margin-top: 20px;
            }
        }    
    }
}

// display modal
.hide-body-overflow-external-link {
    overflow: hidden;
}

.full-screen-external-link-modal-display {
    display: block;
}
