@import '../_var.scss';

.research-center-available-templates {
    position: absolute;
    top: 0px;
    right: -50px;
    @include dimension(900px, 1080px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: $primary-white-1;
    border-radius: 20px 0 0 20px;
    padding: 50px;
    gap: 20px;
    .research-center-available-templates-header {
        @include dimension(800px, 44px);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0;
    }
}