<div class="research-center-available-templates" id="research-center-available-templates">
    <div class="research-center-available-templates-header">
        <div class="available-templates-header-title">
            <p class="available-templates-header-first-title">
                Select a research request template
            </p>
            <p class="available-templates-header-subtitle">
                These templates will help you establish and define the objectives of your research.
            </p>
        </div>
        <div class="available-templates-header-actions">
            <img src="{{ asset('build/images/icons/option-dots.png') }}"  class="available-templates-header-options" id="available-templates-header-options">
            <img src="{{ asset('build/images/icons/close-dark-blue.png') }}"  class="available-templates-header-close" id="available-templates-header-close">
        </div>
    </div>
    <div class="available-templates-header-information">
        <img src="{{ asset('build/images/icons/shape-white.png') }}" class="available-templates-header-information-icon">
        <div class="available-templates-header-information-text">
            <p class="available-templates-header-information-first-text" >A library of templates provided by your organisation!</p>
            <p class="available-templates-header-information-second-text" >You can’t find a request that is fitting with your need? Sumbit a feedback <a class="available-templates-header-information-link" href="#">here</a></p>
        </div>
    </div>
    <div class="available-templates-content">
        {% if researchTemplates %}
            {% for researchTemplate in researchTemplates %}
                {% include "modals/_modal_new_research_request.html.twig" %}
                {% include "home/cards/_research_template_active_card.html.twig" %}
            {% endfor %}
        {% endif %}
    </div>
</div>