<div class="research-center-available-templates" id="research-center-available-templates">
    <div class="research-center-available-templates-header">
        <div class="available-templates-header-title">
            
        </div>
    </div>
</div>