<div class="research-center-available-templates" id="research-center-available-templates">
    <div class="research-center-available-templates-header">
        <div class="available-templates-header-title">
            <p class="available-templates-header-first-title">
                Select a research request template
            </p>
            <p class="available-templates-header-subtitle">
                These templates will help you establish and define the objectives of your research.
            </p>
        </div>
        <div class="available-templates-header-actions">
            <img src="{{ asset('build/images/icons/option-dots.png') }}"  class="available-templates-header-options" id="available-templates-header-options">
            <img src="{{ asset('build/images/icons/close-dark-blue.png') }}"  class="available-templates-header-close" id="available-templates-header-close">
        </div>
    </div>
</div>