<header class="header">
    <div class="header-title">
        <p>RESEARCH CENTER/PLANS</p>
        <p>No requests submitted by your team</p>
    </div>
    <a href="{{ path("research_template_index")}}"><button type="submit" class="view-session">View requests templates</button></a>
</header>