<div class="usedge-sidebar">

  <div class="usedge-sidebar-content">
  	<div class="usedge-logo"><img src="https://usedge.fr/css/designsystem/img/logo.png"/></div>  	
    <div class="sidebar-section">
      <div class="sidebar-part-section">
        <ul class="sidebar-section-items">
          <li class="sidebar-menu-item">
            <img class="sidebar-menu-icon" src="https://usedge.fr/css/designsystem/img/home-icon.svg"/>
            <a href="#" class="sidebar-menu-label gray4 small">Home</a>
          </li>
          <li class="sidebar-menu-item">
            <img class="sidebar-menu-icon" src="https://usedge.fr/css/designsystem/img/insights-database-icon.svg"/>
            <a href="#" class="sidebar-menu-label gray4 small">Insights database</a>
          </li>
          <li class="sidebar-menu-item">
            <img class="sidebar-menu-icon" src="https://usedge.fr/css/designsystem/img/innovation-pool-icon.svg"/>
            <a href="#" class="sidebar-menu-label gray4 small">Innovation pool</a>
          </li>
          <li class="sidebar-menu-item active">
            <img class="sidebar-menu-icon" src="https://usedge.fr/css/designsystem/img/research-center-icon.svg"/>
            <a href="/" class="sidebar-menu-label gray4 small">Research center</a>
          </li>
        </ul>
      </div>
      <div class="sidebar-part-section">
        <div class="sidebar-section-title"><p>ORGANISATION</p></div>
        <ul class="sidebar-section-items">
          <li class="sidebar-menu-item">
            <img class="sidebar-menu-icon" src="https://usedge.fr/css/designsystem/img/projects-icon.svg"/>
            <a href="#" class="sidebar-menu-label gray4 small">Projects</a>
          </li>
          <li class="sidebar-menu-item">
            <img class="sidebar-menu-icon" src="https://usedge.fr/css/designsystem/img/workshops-icon.svg"/>
            <a href="#" class="sidebar-menu-label gray4 small">Workshops</a>
          </li>
          <li class="sidebar-menu-item">
            <img class="sidebar-menu-icon" src="https://usedge.fr/css/designsystem/img/canvas-icon.svg"/>
            <a href="#" class="sidebar-menu-label gray4 small">Canvas</a>
          </li>
        </ul>
      </div>
      <div class="sidebar-part-section">
        <div class="sidebar-section-title"><p>USER MANAGEMENT</p></div>
        <ul class="sidebar-section-items">
          <li class="sidebar-menu-item">
            <img class="sidebar-menu-icon" src="https://usedge.fr/css/designsystem/img/overview-icon.svg"/>
            <a href="#" class="sidebar-menu-label gray4 small">Overview</a>
          </li>
          <li class="sidebar-menu-item">
            <img class="sidebar-menu-icon" src="https://usedge.fr/css/designsystem/img/teams-icon.svg"/>
            <a href="#" class="sidebar-menu-label gray4 small">Teams</a>
          </li>
          <li class="sidebar-menu-item">
            <img class="sidebar-menu-icon" src="https://usedge.fr/css/designsystem/img/members-icon.svg"/>
            <a href="#" class="sidebar-menu-label gray4 small">Members</a>
          </li>
        </ul>
      </div>
      <div class="sidebar-part-section">
        <div class="sidebar-section-title"><p>OTHER</p></div>
        <ul class="sidebar-section-items">
          <li class="sidebar-menu-item">
            <img class="sidebar-menu-icon" src="https://usedge.fr/css/designsystem/img/calendar-icon.svg"/>
            <a href="#" class="sidebar-menu-label gray4 small">Calendar</a>
          </li>
          <li class="sidebar-menu-item">
            <img class="sidebar-menu-icon" src="https://usedge.fr/css/designsystem/img/legal-docs-icon.svg"/>
            <a href="#" class="sidebar-menu-label gray4 small">Legal documents</a>
          </li>
          <li class="sidebar-menu-item">
            <img class="sidebar-menu-icon" src="https://usedge.fr/css/designsystem/img/help-center-icon.svg"/>
            <a href="#" class="sidebar-menu-label gray4 small">Help center</a>
          </li>
        </ul> 
      </div>
    </div>
  </div>

  <div class="sidebar-avatar">
    <div class="sidebar-people">
      <img src="https://usedge.fr/css/designsystem/img/avatar.png"/>
      <div class="sidebar-people-infos">
        <p class="sidebar-people-name"> Marjorie D.</p>
        <p class="sidebar-people-role"> UX designer</p>
      </div>
    </div>
    <div class="usedge-logout">
      <a href="#"><img class="usedge-logout-icon" src="{{ asset('build/images/icons/logout.png') }}"/></a>
    </div>
  </div>

</div>