
<a href="{{ path('research_template_edit_component', {'researchTemplateId': researchTemplate.id, 'componentId': templateComponent.component.id })}}">
    <img src="{{ asset('build/images/icons/edit.png') }}"/>
</a>