<div class="research-plan-available-workshops-modal" id="research-plan-available-workshops-modal">
    <img class="research-plan-available-workshops-modal-close"
            id="research-plan-available-workshops-modal-close"
            src="{{ asset('build/images/icons/close-dark-blue.png') }}"/>
    <div class="research-plan-available-workshops-header">
        <p class="research-plan-available-workshops-header-title">Exercises available</p>
        <p class="research-plan-available-workshops-header-subtitle">
            Pick a workshop/canvas in the list so you can assign it to the phase considered
        </p>
    </div>
</div>