{% if "date-picker" in templateComponent.component.name %}
    {% if componentId is same as templateComponent.component.id %}
        <form method="POST" class="date-picker-edit-form">
            <div class="handle-template-component-draggable">
                <img src="{{ asset('build/images/icons/burger.png') }}"/>
            </div>
            <div class="edit-component-date-picker">
                <div class="edit-component-date-picker-title">
                    <input type="hidden" id="update-date-picker-name" name="name" value="date-picker">
				    <input class="form-control edit-date-picker-input" type="text" name="title-date-picker" value="{{ templateComponent.component.title}}">
                </div>
                <div>
                    {% include 'edit-selected-component/_edit_is_mandatory.html.twig' %}
			    </div>
            </div>
            <div class="section-actions">
                <button class="update-button">Edit</button>
                <a href="{{ path('research_template_add', {id: researchTemplate.id}) }}" class="close-edit">&times;</a>
            </div>
        </form>
	{% else %}
		{% include 'display-selected-component/_display_date_picker.html.twig' %}
	{% endif %}
{% endif %}