{% if "section" in templateComponent.component.name %}
	{% if componentId is same as templateComponent.component.id %}
		<form method="POST" class="section-title-edit-form">
            {% include "edit-selected-component/_csrfToken_edit_component.html.twig" %}
			<div class="handle-template-component-draggable">
				<img src="{{ asset('build/images/icons/burger.png') }}"/>
			</div>
			<div class="edit-component-section-title">
				<input type="hidden" id="update-section-name" name="name" value="section">
				<input class="form-control edit-section-input" type="text" name="title" value="{{ templateComponent.component.title}}" required>
			</div>
			<div class="section-actions">
				<button class="update-button">Edit</button>
			</div>
			<a href="{{ path('research_template_add', {id: researchTemplate.id}) }}" class="close-edit">&times;</a>
		</form>
	{% else %}
		{% include 'display-selected-component/_display_section.html.twig' %}
	{% endif %}
{% endif %}