<div class="form_builder_component_single">
    <p>{{templateComponent.component.question}}</p>
    {% for answer in templateComponent.component.answers %}
        <input type="radio" value="{{answer.answer}}" name="answer{{templateComponent.component.id}}">
        <label>{{answer.answer}}</label> 
    {% endfor %}
</div>
