{% if "external-link" in templateComponent.component.name %}
	<div class="external_link_title_display">
		<div class="external_link_title_move">
			<img src="{{ asset('build/images/icons/burger.png') }}"/>
		</div>
		<div class="component_external_link_title">
			<p>{{ templateComponent.component.title}}
			{% if templateComponent.component.isMandatory %}
				<span class="external_link_red_star" id="external_link_red_star">*</span>
			{% endif %}
			</p>
			<div class="external_link_input">
				<input type="text" name="external-link" class="form-control" id="select_link">
			</div>
		</div>
		<div class="external_link_actions">
			<img src="{{ asset('build/images/icons/edit.png') }}"/>
			<img src="{{ asset('build/images/icons/close.png') }}"/>
		</div>
	</div>
{% endif %}