<div class="modal-external-link-container">
	<div class="modal-external-link-content">
		<form method="post">
			<a href="#" class="close-modal-external-link modal-external-link-trigger">&times;</a>
			<h1>Link field description</h1>
			<div class="input-modal-external-link modal-external-link-trigger">
				<input type="hidden" name="externalLinkName" value="external-link">
				<input type="text" name="title" class="modal-external-link-trigger" placeholder="Link title" id="external_link_title" required>
				<label for="title" class="modal-external-link-trigger">
				<div class="external-link-mandatory">
					<input type="checkbox" class="external-link-checkbox-mandatory" id="external-link-checkbox-mandatory" name="is_mandatory">
					<label for="is_mandatory" class="external-link-label-mandatory">This field is mandatory</label>
				</div>
			</div>
				<button type="submit" id="button-action-component-external-link" class="btn btn-primary modal-external-link-trigger">+ Add link field</button>
		</form>
	</div>
</div>
