<div class="full-screen-container-modal-close" id="full-screen-container-modal-close">
    <div class="add-external-link-modal" id="add-external-link-modal">  
    <form id="new-component-external-link-form" method="POST">     
        <div class="modal_content_external_link">            
            <h4>Link fiel description</h4>
            <input type="text" id="input_add_single_question" name="question" placeholder="Link title" required>
            <div>
                <input type="checkbox" class="input_mandatory" name="is_mandatory">
                <label for="is_mandatory" class="input_mandatory">This field is mandatory</label>
            </div>
            <button id="button_action_component_external_link" class="btn btn-primary"><img src="{{ asset('build/images/icons/Path.png') }}">Add link field</button>                
        </div>  
        </form>            
    </div>    
</div>
