<div class="modal-external-link-container">	
	<div class="modal-external-link-content">
		<form method="post">
			<a href="#" class="close-modal-external-link modal-external-link-trigger">&times;</a>
			<h1>Link field description</h1>
			<div class="input-modal-external-link modal-external-link-trigger">
				<input type="hidden" name="externalLink" value="external-link">
				<input type="text" name="title" class="modal-external-link-trigger" placeholder="Link title" id="external-link_title" required>
				
				<button type="submit" id="button-action-component-external-link" class="btn btn-primary modal-external-link-trigger">+ Add section</button>
		</form>
	</div>
</div>