{% extends 'base.html.twig' %}

{% block title %}New research request{% endblock %}

{% block body %}
    <header id="add-research-request-header" class="add-research-request-header">
        <div class="add-research-request-header-logo-container">
            <img class="add-research-request-header-logo" src="{{ asset('build/images/usedge-logo.png') }}"/>
            <p class="add-research-request-header-title">New research request<p>
        </div>
        <button form="add-research-request-form" class="add-research-request-header-button">
            <img class="add-research-request-header-button-icon" src="{{ asset('build/images/icons/logout-dark.png') }}"/>
            <p class="add-research-request-header-button-text">Save and continue later</p>
        </button>
    </header>
    <main class="add-research-request-main-content">
        <form id="add-research-request-form" class="add-research-request-form">
            <div class="add-research-request-form-builder">
            {% if requestComponents %}
                {% for requestComponent in requestComponents %}
                    {% include "research_request/components/section.html.twig" %}
                {% endfor %}
            {% endif %}
            </div>
            <button class="add-research-request-form-button">
                <img class="add-research-request-form-button-icon" src="{{ asset('build/images/icons/save-icon.png') }}"/>
                <p class="add-research-request-form-button-text">Send/Update this research request</p>
            </button>
        </form>
    </main>
{% endblock %}
