{% if "external-link" in templateComponent.component.name %}
	<div class="external-link-template-creation" draggable="true">
		<div class="handle-template-component-draggable">
			<img src="{{ asset('build/images/icons/burger.png') }}"/>
		</div>
		<div class="external-link-template-content">
            {% include "display-selected-component/_component_order_id_inputs.html.twig" %}
			<p class="external-link-template-title" id="external-link-template-title">
				{{templateComponent.component.title}}
				{% if templateComponent.component.isMandatory %}
					<span class="external-link-red-star" id="external-link-red-star">*</span>
				{% endif %}
			</p>
			<div class="external-link-input">
				<input type="url" name="select-external-link" class="form-control" id="select-external-link" placeholder="https://www.google.com/...">
			</div>
		</div>
		<div class="external-link-template-actions">
			{% include "layout_edit.html.twig" %}
			<img src="{{ asset('build/images/icons/close.png') }}"/>
		</div>
	</div>
{% endif %}
