{% if "section" in templateComponent.component.name %}
	<div class="section-title-display">
		<div class="section-title-move">
			<img src="{{ asset('build/images/icons/burger.png') }}"/>
		</div>
		<div id="component-section-title">
			<p>{{ templateComponent.component.title}}</p>
		</div>
		<div class="section-actions">
			<img src="{{ asset('build/images/icons/edit.png') }}"/>
			<img src="{{ asset('build/images/icons/close.png') }}"/>
		</div>
	</div>
{% endif %}