{% if "section" in templateComponent.component.name %}
	<div class="section-title-display">
		<div class="handle-template-component-draggable">
			<img src="{{ asset('build/images/icons/burger.png') }}"/>
		</div>
		<div class="component-section-title">
			<p>{{ templateComponent.component.title}}</p>
		</div>
		<div class="section-actions">
			<img src="{{ asset('build/images/icons/edit.png') }}"/>
			{% include "display-selected-component/_delete_component.html.twig" %}
		</div>
	</div>
{% endif %}