{% if "separator" in templateComponent.component.name %}
	<div class="separator-template-creation">
        <div class="handle-template-component-draggable">
            <img src="{{ asset('build/images/icons/burger.png') }}"/>
        </div>
        <div class="separator-template-content">
            <input type="hidden" class="component-order-number" name="component-order-number">
            <input type="hidden" class="research-template-component-id" name="research-template-component-id" value="{{ templateComponent.component.id }}">
        </div>
        <div class="separator-template-actions">
            <img src="{{ asset('build/images/icons/close.png') }}"/>
        </div>
    </div>
{% endif %}
