{% if "separator" in templateComponent.component.name %}
	<div class="separator-template-creation">
        <div class="handle-template-component-draggable" draggable="true">
            <img src="{{ asset('build/images/icons/burger.png') }}" draggable="true"/>
        </div>
        <div class="separator-template-content">
            {% include "display-selected-component/_component_order_id_inputs.html.twig" %}
        </div>
        <div class="separator-template-actions">
           {% include "display-selected-component/_delete_component.html.twig" %}
        </div>
    </div>
{% endif %}
