{% if "section" in templateComponent.component.name %}
	<div class="section-title-display">
		<div class="handle-template-component-draggable">
			<img src="{{ asset('build/images/icons/burger.png') }}"/>
		</div>
		<div class="component-section-title">
			<p>{{ templateComponent.component.title}}</p>
		</div>
		<div class="section-actions">
			{% include "layout_edit.html.twig" %}
			<img src="{{ asset('build/images/icons/close.png') }}"/>
		</div>
	</div>
{% endif %}