{% if "date-picker" in templateComponent.component.name %}
    <div class="date-picker-template-creation" draggable="true">
        <div class="date-picker-template-draggable">
            <img src="{{ asset('build/images/icons/burger.png') }}"/>
        </div>
        <div class="date-picker-template-content">
            <p class="date-picker-template-title" id="date-picker-template-title">
                {{templateComponent.component.title}}
                {% if templateComponent.component.isMandatory %}
                    <span class="date-picker-red-star" id="date-picker-red-star">*</span>
                {% endif %}
            </p>
            <div class="date-picker-input">
                <input type="date" name="select-date" class="form-control" id="select-date">
            </div>
        </div>
        <div class="date-picker-template-actions">
            <img src="{{ asset('build/images/icons/edit.png') }}"/>
            <img src="{{ asset('build/images/icons/close.png') }}"/>
        </div>
    </div>
{% endif %}