{% if "open-question" in requestComponent.component.name %}
    <div class="research-open-question-creation-modal" id="open-question-creation-modal">
            {% include "research_request/components/request_component_order_id.html.twig" %}
            <p class="research-open-question-template-question" id="open-question-template-question">
                {{ requestComponent.component.question }}
                {% if requestComponent.component.isMandatory %}
                    <span class="research-open-question-red-star" id="open-question-red-star">*</span>
                {% endif %}
            </p>
            <div class="research-open-question-template-answers">
                    <textarea class="form-control research-open-question-text-area" name="answer-open-question" id="research-open-question-text-area"
                    placeholder="Default state" wrap></textarea>
                    <label for="answer-open-question" 
                    class="research-open-question-template-answer-label" id="open-question-template-answer-label">
                    </label>
            </div>
            <div class="research-open-question-template-helpertext">
                {% if  requestComponent.component.addAHelpertext is same as true  %}
                    <p>{{ requestComponent.component.helperText }}<p>
                {% endif %}
            </div>
    </div>
{% endif %}