{% if "section" in requestComponent.component.name %}
	<div class="request-section-title">
		<div class="request-component-section-title">
            {% include "research_request/components/request_component_order_id.html.twig" %}
			<p>{{ requestComponent.component.title}}</p>
		</div>
	</div>
{% endif %}