{% if "separator" in requestComponent.component.name %}
	<div class="request-separator-template-creation">
        <div class="request-separator-template-content">
        </div>
    </div>
{% endif %}