{% if "separator" in requestComponent.component.name %}
	<div class="request-separator-template-creation">
        <div class="request-separator-template-content">
            {% include "research_request/components/request_component_order_id.html.twig" %}
        </div>
    </div>
{% endif %}